.container {
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #333;
}

.btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
